body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Styles layout
-----------------------------------------------------------*/
body, header,footer {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0074af;
    padding: 30px 0 15px 0;
}

header {
    display: block;
    text-align: center;
    background-color: #000;
    vert-align: middle;
    border-bottom: 5px solid #88bf1b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}  

.logo {
    height: 30px;
}


footer {
    display: block;
    height: 15px;
    border: 1px solid transparent;
    border-top: 5px solid #88bf1b;
    background-color: #000;
    text-align: center;
    vertical-align: text-top;
    color: #88bf1b;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}  

.main-nav {
    display: block;
}

.main-nav ul{
    list-style-type: none;
    padding: 0;
}

.main-nav ul li{
    display: inline;
    padding: 0;
}

.main-nav ul li a{
    text-decoration: none;
}

/* Styles previes (_PreviewPartial)
-----------------------------------------------------------*/

.previews-container {
    
}
.previews-container ul{
    list-style-type: none;
    padding-left: 0;
}

.previews-container * img{
    height: 50px;
}