@model List<string>

<div>
    <ul>
        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <input id="preview-@i" type="radio" hidden/>
                <label for="preview-@i"><img class="img-preview" src="data:image/jpg;base64, @Model[i]" alt="AlternateText_@i"/></label>
            </li>
        }
    </ul>
</div>
