


@{
    ViewBag.Title = "Index";
}


<nav>
    <ul>
        <li>@Ajax.ActionLink("ShowPrevies", "GetPreviews", "Home", null, new AjaxOptions() { UpdateTargetId = "previews", LoadingElementId = "loading-indicator" })</li>
        <li>@Ajax.ActionLink("Test", "GetTestString", new AjaxOptions() { UpdateTargetId = "previews", Url = Url.Action("GetTestString") })</li>
    </ul>
</nav>


<div>
    <div id="previews" class="previews-container">
        <p>Empty</p>
    </div>
</div>






@*<script>
    var createImgTag = function (parentId, base54Data) {
        var img = document.createElement("img");
        img.src = "data:image/jpg;base64," + base54Data;
        img.alt = "previewImage";

        document.getElementById(parentId).appendChild(img);
    };
    
    for (var i = 0; i < parseInt(@ViewBag.Base64Previews.Count); i++) {
        createImgTag("previews", @((List<string>)ViewBag.Base64Previews[i]));
    }
</script>*@