


@{
    ViewBag.Title = "Index";
}

<div class="coub-container">
    
        <video width="320" height="240" controls>
            <source src="/Content/videos/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            Your browser does not support the video tag.
        </video> 
   
</div>

<nav class="main-nav">
    <ul>
        <li>@Ajax.ActionLink("ShowPrevies", "GetPreviews", "Home", null, new AjaxOptions() { UpdateTargetId = "previews", LoadingElementId = "loading-indicator" })</li>
        <li>@Ajax.ActionLink("Test", "GetTestString", new AjaxOptions() { UpdateTargetId = "previews", Url = Url.Action("GetTestString") })</li>
    </ul>
</nav>

<div>
    <div id="previews" class="video-container">
        <p>Empty</p>
    </div>

    <div id="audios" class="audio-container">
        <p>Empty</p>
    </div>
</div>









@*<script>
    var createImgTag = function (parentId, base54Data) {
        var img = document.createElement("img");
        img.src = "data:image/jpg;base64," + base54Data;
        img.alt = "previewImage";

        document.getElementById(parentId).appendChild(img);
    };
    
    for (var i = 0; i < parseInt(@ViewBag.Base64Previews.Count); i++) {
        createImgTag("previews", @((List<string>)ViewBag.Base64Previews[i]));
    }
</script>*@